/** custom properties */
:root {
  --blanco: #fff;
  --negro: #111111;
  --gris: #343a40;
  --orange: #f64307;

  --mainFont: "Raleway", sans-serif;
}

/** paul irish */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** globales */
body {
  font-family: var(--mainFont);
  font-size: 1.6rem;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 120rem; /* 1200px standard size */
  margin: 0 auto; /* to center it */
  width: 90%; /* just in case */
}

.btn {
  color: var(--gris);
  background-color: var(--blanco);
  border: 1px solid var(--gris);
  padding: 0.5rem 2rem;
  transition: background-color 300ms;
}

.btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

/** utilities */
.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

/** header */
.header {
  background-image: url(../img/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 60rem;
  padding: 5rem 0;
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(60rem - 4rem);
  color: var(--orange);
}

.header a {
  color: var(--orange);
}

.nombre-sitio {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}

.nombre-sitio span {
  font-weight: 700;
}

@media (min-width: 992px) {
  .nombre-sitio {
    font-size: 3.5rem;
  }
}

@media (min-width: 1400px) {
  .nombre-sitio {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .contacto {
    align-items: flex-end;
  }
}

.telefono {
  display: flex;
}

.telefono::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(../img/telefono.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .navegacion {
    flex-direction: row;
  }
}

.navegacion a {
  padding: 0.5rem;
  transition: background-color 300ms;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .navegacion a {
    padding: 0.3rem 1rem;
  }
}

.navegacion a:hover {
  background-color: rgb(233 150 122 / 0.5);
  border-radius: 3px;
  color: var(--gris);
}

.slogan {
  text-align: center;
}
@media (min-width: 768px) {
  .slogan {
    text-align: right;
  }
}

.slogan h1 {
  font-size: 3rem;
  margin: 0;
}
@media (min-width: 768px) {
  .slogan h1 {
    font-size: 4rem;
  }
}

.slogan p {
  margin: 0;
  line-height: 1;
}

/** quienes somos */
.nosotros {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenido-nosotros {
  background-color: var(--blanco);
  color: var(--orange);
  padding: 5rem;
}
@media (min-width: 768px) {
  .contenido-nosotros {
    grid-column: 2 / 4;
  }
}
