/** custom properties */
:root {
  --blanco: #fff;
  --negro: #111111;
  --gris: #343a40;

  --mainFont: "Raleway", sans-serif;
}

/** paul irish */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** globales */
body {
  font-family: var(--mainFont);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 120rem; /* 1200px standard size */
  margin: 0 auto; /* to center it */
  width: 90%; /* just in case */
}

.btn {
  color: var(--gris);
  background-color: var(--blanco);
  border: 1px solid var(--gris);
  padding: 0.5rem 2rem;
  transition: background-color 300ms;
}

.btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

/** utilities */
.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

/** header */
.header {
  background-image: url(../img/h.webp);
  min-height: 60rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .header {
    padding: 2rem 0;
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(60rem - 4rem);
  color: var(--blanco);
}

.nombre-sitio {
  font-weight: 300;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .nombre-sitio {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .nombre-sitio {
    font-size: 4rem;
  }
}
@media (min-width: 1200) {
  .nombre-sitio {
    font-size: 5rem;
  }
}
.nombre-sitio span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .contacto {
    align-items: flex-end;
  }
}

.header a {
  color: var(--blanco);
}
