@use 'base/variables' as v;
@use 'base/mixins' as m;
/* @use 'sass:math';... nada mas para que sepas que existe */

.nav-principal {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  
  @include m.tablet { 
    flex-direction: row;
    /* gap: math.div( v.$separacion, 4 ); */
    gap: 2rem;
    margin: 0;
   }
   
   a {
    text-align: center;
    margin-bottom: 1rem;
    color: v.$blanco;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    @include m.tablet { 
      margin: bottom 0;
     }

     &:hover {
      color: v.$secundario;
     }

     &.activo {
      color: v.$secundario;
     }
   }
}